.global_border {
    border: black solid 2px;
    border-radius: 0;
}

.global_font {
    font-family: "JetBrains Mono", monospace;
}

.global_center_div {
    justify-content: center;
    align-items: center;
    display: flex;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #123872;

    height: 100vh;
    width: 100vw;
}
